<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuartzStone</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/IconToggle.css">
    <link rel="stylesheet" href="/stylesheets/Opinion.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
   
   
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-center navbar-brand" ><img src="/logoblack.png" height="35px" width="175px" alt=""></div>
         <button class="navbar-toggler second-button" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
       </button>
       
         <div class="collapse navbar-collapse" dir="rtl"  id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" > 
              
                <li class="nav-item" >
                  <a class="nav-link " href="/" style="float: right; margin: 0.4rem; font-size: 18px;">בית <span class="sr-only">(current)</span></a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link " href="/whoare" style="float: right; margin: 0.4rem; font-size: 18px;">אודות</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalog" style="float: right; margin: 0.4rem; font-size: 18px;">קטלוג</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/works" style="float: right; margin: 0.4rem; font-size: 18px;">העבודות שלנו</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/contact" style="float: right; margin: 0.4rem; font-size: 18px;">צור קשר</a>
                </li>
                   
                 </ul>
         </div>
       </nav>
</head>
<body>
   <!-- Contact Us Section -->
 <section class="Material-contact-section section-padding section-dark" dir="rtl"><br>
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" >
                <h1 class="section-title">כאן בשבילכם ! </h1>
            </div>
        </div>
        <div class="row" >
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" >
             <p>
              אנחנו עושים את מיטב יכולתנו על מנת לענות לכם על כל השאלות ולעזור לכם לקבל את המוצר האיכותי ביותר והמתאים לכם . 
              נשמח ליצור אתכם קשר הן טלפונית והן באימייל.
             </p>
              <hr>
              <div class="find-widget">
            <strong>שם החברה:</strong> <a>QuartzStone<i class="fas fa-gem" style="margin: 0 0.3rem;"></i></a>
              </div>
              <div class="find-widget">
             <strong> מיקום:</strong> <a href="https://www.google.com/maps/place/Yosef+Levi+St+8,+Kiryat+Bialik/@32.8627999,35.0938484,17z/data=!3m1!4b1!4m5!3m4!1s0x151db647addb8745:0xca3bf377eb7b358f!8m2!3d32.8627999!4d35.0960371" style="color: rgb(64, 64, 221);">
                  יוסף לוי 8 ,אזור תעשייה, קרית ביאליק</a>
              </div>
              <hr>
              <div class="find-widget">
               <strong> כתובת אימייל:</strong> <a href="https:/www.gmail.com"  style="color: rgb(64, 64, 221);"> Quartz100ne@gmail.com</a>
              </div>
              <hr>
              <div class="find-widget">
           <strong>משרד:</strong> 073-742-6102
              </div>
              <hr>
              <div class="find-widget">
            <strong>נייד של אולג: </strong> 052-879-2024
                </div>
              <hr>
                <div class="find-widget">
             <strong>נייד של אנטון :</strong>  053-336-3850 
              </div>
             
            </div>
            <!-- contact form -->
           
        </div>
    </div>
  </section>
  
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>


    <script src="/js/contact.js"></script>
</body>
</html>