<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Main Marble</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/IconToggle.css">
    <link rel="stylesheet" href="/stylesheets/Marble.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
  

    <link rel="stylesheet" href="/stylesheets/MainNav.css">
   
    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-center navbar-brand" ><img src="/logoblack.png" height="35px" width="175px" alt=""></div>
       <button class="navbar-toggler second-button" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
     </button>
     
       <div class="collapse navbar-collapse" dir="rtl"  id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" > 
            
              <li class="nav-item" >
                <a class="nav-link " href="/" style="float: right; margin: 0.4rem; font-size: 18px;">בית <span class="sr-only">(current)</span></a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link " href="/whoare" style="float: right; margin: 0.4rem; font-size: 18px;">אודות</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/catalog" style="float: right; margin: 0.4rem; font-size: 18px;">קטלוג</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="/works" style="float: right; margin: 0.4rem; font-size: 18px;">העבודות שלנו</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="/contact" style="float: right; margin: 0.4rem; font-size: 18px;">צור קשר</a>
              </li>
                 
               </ul>
       </div>
     </nav>
</head>
<body>
    
<div class="conr" style="background: white;">

    <div class="jumbotron jumbotron-fluid" style="height:700px;">
        <div style="text-align: center;" class="col-12 p-lg-5 p-sm-5 mx-auto my-5">
            <h1   class="h1Screen" class="font-weight-normal"><img class="img-fluid" alt="Responsive image"  height="100px"; width="550px" style="margin-bottom: 7px;margin-left: 7px;" src="/logoblack.png" alt=""></h1>
             <div style="text-align: center;"><p class="lead font-weight-normal">ברוכים הבאים לחווית עיצוב שונה , חוויה הנותנת לך 
              להיכנס לעולם היפה והטבעי של ייצור ועיצוב השיש</p><br>
              <a class="btn btn-outline-secondary btn-lg" href="/catalog">לקטלוג</a></div>
           </div>
           
      </div>


     <div>
        <h1 class="display-4 font-weight-normal" style="text-align: center;">הלקוחות שלנו </h1><br><br><br>
     </div>


      <div class="card-columns mx-3" >
          <div class="card" style="text-align:center;">
            <img src="./ManMan.png" id="avatar" class="imgScreen" class="mx-4 mt-2" class="card-img-top" class="img-fluid" alt="Responsive image">
              <div class="card-body"> 
                  <h5 class="card-title"><strong> ויטלי וינטר, מרכז הארץ </strong></h5>
                      <p class="card-text"> המוצר שאני בחרתי היה אבן אוניקס למטבח חדש.  
                         מהרגע שנכנסתי למפעל ועד רגע התקנת האבן, קיבלתי תחושה אחרת, תחושה שלא הייתה לי בשום חנות או במהלך רכישה של מוצר כלשהו...  
                        תחושה שנותנת לי להרגיש כאלו אני המעצב, בונה השיש והמתקין. 
                        בעיניי הצלחתי לראות את כל התהליך שהשיש עבר, החל מהרגע שהוא נחצב ועד לרגע שהוא הגיע
                        לביתי הקט.
                        QuartzStone הצליחה להיכנס למחשבות שלי ולהבין את העין העיצובית שלי ובעצם לקחת רעיון מאפס , ולבנות אותו עד לשלמות.
                    <div class="d-none d-xl-block"></div>  </p> 
              </div>
            </div>
     
              <div class="card" style="text-align:center;">
                <img src="./YoungMan.png" id="avatar" class="imgScreen" class="mx-4 mt-2" class="card-img-top" class="img-fluid" alt="Responsive image">
                  <div class="card-body"> 
                      <h5 class="card-title"><strong>נמרוד לינבסקי, צפון הארץ </strong></h5>
                          <p class="card-text"> לדעת לבחור היא גם סוג של אמנות.
                            לפני כ5 חודשים עשיתי שיפוץ בבית , הבחירות היו סופר קשות. המטרה שלי והרעיון שלי היה בעיקר המטבח.
                            אני מאמין כי המטבח מהווה את הטעם והריח של האורח, אם המטבח אינו נראה טוב ככה האורח שלי לא יהנה מהאוכל !
                            אני רוצה להודות ל QuartzStone שעזרו לי לבחור את
                            החלק הכי חשוב בשיפוץ והוא השיש. הלמינם הפך את המטבח שלי ללב הפועם של הבית.
                             אבן הלמינם הינה אבן חזקה , עמידה בפני כל דבר אם לא הכל והכי חשוב היא נותנת
                            יופי ואופי מיוחד לבית כי הרי השיש הוא הדבר הראשון אליו שמים לב.
                        <div class="d-none d-xl-block"></div>  </p> 
                  </div>
            </div>
    
                  <div class="card" style="text-align:center;">
                    <img src="./woman.png" id="avatar" class="imgScreen" class="card-img-top" class="img-fluid" alt="Responsive image">
                        <div class="card-body"> 
                            <h5 class="card-title"><strong>נויה סרור, דרום הארץ</strong></h5>
                                <p class="card-text">
                                  שיש לא רק יכול לעצב לך את הבית, אלא גם את הגינה.
                                  יום אחד אני ובעלי החלטנו כי אנחנו רוצים להפריח קצת חיים בגינה.
                                  להתעסק עם פרחים ועצים לא הייתה אופציה אז חשבנו להקים עמדת ברקביקיו עם כיור מובנה שיראה כמעין מטבחון.
                                  בחרנו את אבן הנאוליט.
                                  הבחירה הייתה מושלמת אבל אני רוצה בעיקר לדבר על חווית הקנייה.
                                  החל מהרגע הראשון שהצגנו את הרעיון שלנו קיבלנו שירות מדהים, לא עזבו אותנו לדקה, התייעצו איתנו בכל רגע אפשרי ולא ביצעו החלטות הססניות על דעת עצמם.
                                  אני יכולה להגיד בוודאות כי QuartzStone הם לא רק מקום לקנות בו שיש , אלא משהו מעבר , משהו שקשה להסביר אבל כן אפשר לדמיין...
                                <div class="d-none d-xl-block"></div>  </p> 
                        </div>
                  </div>
    
      
      </div>
      <br><br><br><br><br>
</div>


 
<div class="container" style="text-align: center">
  <hr class="featurette-divider" style="border-width: 3px">
  <footer>
    <p> <strong>צרו קשר  </strong></p>
    <div class="row">
      <div class="col-sm">
        <div class="find-widget" dir="rtl">
         <strong>  <i class="fas fa-map-marker-alt"></i> מיקום:</strong><a  href="https://www.google.com/maps/place/Yosef+Levi+St+8,+Kiryat+Bialik/@32.8627999,35.0938484,17z/data=!3m1!4b1!4m5!3m4!1s0x151db647addb8745:0xca3bf377eb7b358f!8m2!3d32.8627999!4d35.0960371"  style="color: rgb(53, 53, 56);">
              יוסף לוי 8 ,אזור תעשייה, קרית ביאליק</a>
          </div>
      </div>
      <div class="col-sm">
        <div class="find-widget">
          <a href="https:/www.gmail.com"  style="color: rgb(53, 53, 56);"> Quartz100ne@gmail.com</a> <strong>  :כתובת אימייל <i class="fas fa-at"></i></strong>
        </div>
      </div>
      <div class="col-sm">
        <div class="find-widget" dir="rtl" >
        <strong> <i class="fas fa-phone"></i> משרד :</strong> <span style="color: rgb(53, 53, 56);"> 073-742-6102</span>
       </div>
      </div>
    </div>
    </footer>
    <br><br>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>

    <script src="./jquery-3.4.1.min.js"></script>
    <script src="./js/contact.js"></script>
</body>
</html>