<!DOCTYPE html>
<html lang="en"  dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Who Are We</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Darker+Grotesque&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/stylesheets/WhoAreWe.css">
    <link rel="stylesheet" href="/stylesheets/MainNav.css">
    <link rel="stylesheet" href="/stylesheets/IconToggle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    
    
    <link rel="stylesheet" href="/css/MainNav.css">
   

    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand abs screen"id="logo"  class="mx-auto"><img style="margin-bottom: 4px;"  src="/logoblack.png" height="43px" width="175px" alt=""></span>
       <button class="navbar-toggler second-button" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
     </button>
     
       <div class="collapse navbar-collapse" dir="rtl"  id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" > 
              
            <li class="nav-item" >
              <a class="nav-link " href="/" style="float: right; margin: 0.4rem; font-size: 18px;">בית <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/whoare" style="float: right; margin: 0.4rem; font-size: 18px;">אודות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog" style="float: right; margin: 0.4rem; font-size: 18px;">קטלוג</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/works" style="float: right; margin: 0.4rem; font-size: 18px;">העבודות שלנו</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contact" style="float: right; margin: 0.4rem; font-size: 18px;">צור קשר</a>
            </li>
               
             </ul>
       </div>
     </nav>
</head>
<body>

    
    <div class="conr px-5 py-2" style="background: white;">

        <h1 id="head" class="display-4"><strong>אודות</strong></h1>
        <p id="po" >
          
          אנו חברת QuartzStone מייבאים, מייצרים ומעצבים שיש כבר למעלה מ20 שנה.
          החברה מתמחה בסוגי אבן שונים כגון: ,אבן קיסר, שיש גרניט, אוניקס, קונצ'טו  , ובנוסף בסוגי אבן מתועשים מודרניים כמו , גרניט פורצלן הכולל בתוכם את שיש הלמינם, נאוליט, דקטון ועוד...

        </p>
        <br>
        <p id="po" >עקב הניסיון הרב שיש לחברה ולעובדים הנאמנים שלה מצליחה QuartzStone לתת את השירות הטוב ביותר ללקוח ולעמוד בדרישותיו.
        QuartzStone משתמשת במכונות טכנולוגיות מתדקמות המאפשרות מדידות מדויקות וגימור סופי ברמה הגבוהה ביותר , עד הפרט האחרון.
        </p>
        <br>
        <p id="po" >אנחנו מאמינים כי השיש מהווה חלק מרכזי בתדמית הבית , ולכן מטרתנו היא להביא לכם , הלקוח , את המוצר בשיא שלמותו,
                    מוצר שיעמוד בדרישותיכם ובראיה העיצובית שאתם תובילו. 
                    אנחנו כאן ב  QuartzStone 
                    מלווים אתכם מרגע הכניסה למפעל, דרך בחירה מעמיקה של  השיש ועד להרכבתו , ונעשה הכל על מנת 
                     לתת לכם את השירות הטוב ביותר ואת החוויה העיצובית הטובה ביותר .

    </div>

   

 
    <div class="container" style="text-align: center">
      <hr class="featurette-divider" style="border-width: 3px">
      <footer>
        <p> <strong>צרו קשר  </strong></p>
        <div class="row">
          <div class="col-sm">
            <div class="find-widget">
             <strong>  <i class="fas fa-map-marker-alt"></i> מיקום:</strong><a  href="https://www.google.com/maps/place/Yosef+Levi+St+8,+Kiryat+Bialik/@32.8627999,35.0938484,17z/data=!3m1!4b1!4m5!3m4!1s0x151db647addb8745:0xca3bf377eb7b358f!8m2!3d32.8627999!4d35.0960371"  style="color: rgb(53, 53, 56);">
                  יוסף לוי 8 ,אזור תעשייה, קרית ביאליק</a>
              </div>
          </div>
          <div class="col-sm">
            <div class="find-widget">
              <strong>  <i class="fas fa-at"></i> כתובת אימייל:</strong> <a href="https:/www.gmail.com"  style="color: rgb(53, 53, 56);"> Quartz100ne@gmail.com</a>
            </div>
          </div>
          <div class="col-sm">
            <div class="find-widget">
            <strong> <i class="fas fa-phone"></i> משרד :</strong> <span style="color: rgb(53, 53, 56);"> 073-742-6102</span>
           </div>
          </div>
        </div>
        </footer>
        <br><br>
  </div>
    
    
    
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>


    <script src="/js/WhoAreWe.js"></script>
</body>
</html>