<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuartzStone</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/IconToggle.css">
    <link rel="stylesheet" href="/stylesheets/Catalog.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    
    <div class=hover> 
      
    </div>
    

    <nav dir="rtl" class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-center navbar-brand" ><img src="/logoblack.png" height="35px" width="175px" alt=""></div>
       <button class="navbar-toggler second-button" style="outline: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
     </button>
     
       <div class="collapse navbar-collapse" dir="rtl"  id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" > 
              
            <li class="nav-item" >
              <a class="nav-link " href="/" style="float: right; margin: 0.4rem; font-size: 18px;">בית <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="/whoare" style="float: right; margin: 0.4rem; font-size: 18px;">אודות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog" style="float: right; margin: 0.4rem; font-size: 18px;">קטלוג</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/works" style="float: right; margin: 0.4rem; font-size: 18px;">העבודות שלנו</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/contact" style="float: right; margin: 0.4rem; font-size: 18px;">צור קשר</a>
            </li>
               
             </ul>
       </div>
     </nav>
</head>
<body>
    
        
    
<div class="cont pt-3 pl-3 pr-3 pl-md-3 pr-md-3  mr-2" class="conr" style="background: white;">

      <div class="card-columns ">
        
          <div class="card">
          <!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img1"> <!--///////-->
                     <!--///////-->
                     
                    <img  class="card-img-top" src="/works1.jpg" style="width:100%; height: 300px;"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item " data-toggle="modal" data-target="#img2"> <!--///////-->
                     <!--///////-->
                    
                    <img  class="card-img-top" src="/works2.jpg" style="width:100%; height: 300px;"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->
            
         
          </div>

<!---------------------------------------------------------------------------------------------------------------->

          <div class="card">
          <!--Carousel Wrapper-->
<div id="carousel-example-2z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2z" data-slide-to="1"></li>
      
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
       <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img3"> <!--///////-->
                     <!--///////-->
        <img  class="card-img-top" src="/works3.jpg" style="width:100%; height: 300px;"
          alt="First slide">
      </div>
      <!--/First slide-->
      <!--Second slide-->
       <!--///////-->
    <!--///////--> <div class="carousel-item " data-toggle="modal" data-target="#img4"> <!--///////-->
                     <!--///////-->
        <img  class="card-img-top" src="/works4.jpg" style="width:100%; height: 300px;"
          alt="Second slide">
      </div>
      <!--/Second slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
  
  
          </div>


<!------///////////////////////////////////////////////////////////////////-------------------->



<!---------------------------------------------------------------------------------------------------------------->
          <div class="card">
           <!--Carousel Wrapper-->
<div id="carousel-example-3z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-3z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-3z" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img5"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works5.jpg" style="width:100%; height: 300px;"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                  <!--///////-->
    <!--///////-->  <div class="carousel-item " data-toggle="modal" data-target="#img6"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works6.jpg"  style="width:100%; height: 300px;"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-3z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-3z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->
         
          </div>
<!------///////////////////////////////////////////////////////////////////-------------------->



<!---------------------------------------------------------------------------------------------------------------->


          <div class="card">
         <!--Carousel Wrapper-->
<div id="carousel-example-4z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-4z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-4z" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img7"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works7.jpg" style="width:100%; height: 300px;"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                  <!--///////-->
    <!--///////-->  <div class="carousel-item " data-toggle="modal" data-target="#img8"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works8.jpg" style="width:100%; height: 300px;"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-4z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-4z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->
          
          </div>
<!------///////////////////////////////////////////////////////////////////-------------------->



<!---------------------------------------------------------------------------------------------------------------->



          <div class="card">
          <!--Carousel Wrapper-->
<div id="carousel-example-5z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-5z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-5z" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                  <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img9"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works9.jpg" style="width:100%; height: 300px;"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item " data-toggle="modal" data-target="#img10"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works10.jpg" style="width:100%; height: 300px;"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-5z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-5z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->
          
          </div>

<!------///////////////////////////////////////////////////////////////////-------------------->



<!---------------------------------------------------------------------------------------------------------------->

          <div class="card">
         <!--Carousel Wrapper-->
<div id="carousel-example-6z" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-6z" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-6z" data-slide-to="1"></li>
                  
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <!--First slide-->
                  <!--///////-->
    <!--///////-->  <div class="carousel-item active" data-toggle="modal" data-target="#img11"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works11.jpg" style="width:100%; height: 300px;"
                      alt="First slide">
                  </div>
                  <!--/First slide-->
                  <!--Second slide-->
                   <!--///////-->
    <!--///////-->  <div class="carousel-item" data-toggle="modal" data-target="#img12"> <!--///////-->
                     <!--///////-->
                    <img  class="card-img-top" src="/works12.jpg" style="width:100%; height: 300px;"
                      alt="Second slide">
                  </div>
                  <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-6z" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-6z" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
              </div>
              <!--/.Carousel Wrapper-->

         

      </div>

  </div>
  
<!--///////////////////////////////// IMG MODAL BIG !!!! /////////////////////////////////-->

 
<!-- my img1-->
<!-- The Modal -->
<div class="modal fade"  id="img1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works1.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->

<!-- my img2-->
<!-- The Modal -->
<div class="modal fade"  id="img2">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works2.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img3-->
<!-- The Modal -->
<div class="modal fade"  id="img3">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works3.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->



<!-- my img4-->
<!-- The Modal -->
<div class="modal fade"  id="img4">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works4.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->



<!-- my img5-->
<!-- The Modal -->
<div class="modal fade"  id="img5">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works5.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img6-->
<!-- The Modal -->
<div class="modal fade"  id="img6">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works6.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->



<!-- my img7-->
<!-- The Modal -->
<div class="modal fade"  id="img7">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works7.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img8-->
<!-- The Modal -->
<div class="modal fade"  id="img8">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works8.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img9-->
<!-- The Modal -->
<div class="modal fade"  id="img9">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works9.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img10-->
<!-- The Modal -->
<div class="modal fade"  id="img10">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works10.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img11-->
<!-- The Modal -->
<div class="modal fade"  id="img11">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works11.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->


<!-- my img12-->
<!-- The Modal -->
<div class="modal fade"  id="img12">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background:none;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- Modal footer -->
          <!-- Modal body -->
          <div class="modal-body">
              <div class="row">
                 <img  src="/works12.jpg" alt="" width="100%" height="650px">
            </div>
          </div>
         </div>
      </div>
  </div>
<!--///////////////////////////////////////////////////////////////////////-->
<br><br>
</div>

 
<div class="container" style="text-align: center">
  <hr class="featurette-divider" style="border-width: 3px">
  <footer>
    <p> <strong>צרו קשר  </strong></p>
    <div class="row">
      <div class="col-sm">
        <div class="find-widget" dir="rtl">
         <strong>  <i class="fas fa-map-marker-alt"></i> מיקום:</strong><a  href="https://www.google.com/maps/place/Yosef+Levi+St+8,+Kiryat+Bialik/@32.8627999,35.0938484,17z/data=!3m1!4b1!4m5!3m4!1s0x151db647addb8745:0xca3bf377eb7b358f!8m2!3d32.8627999!4d35.0960371"  style="color: rgb(53, 53, 56);">
              יוסף לוי 8 ,אזור תעשייה, קרית ביאליק</a>
          </div>
      </div>
      <div class="col-sm">
        <div class="find-widget">
          <a href="https:/www.gmail.com"  style="color: rgb(53, 53, 56);"> Quartz100ne@gmail.com</a> <strong>  :כתובת אימייל <i class="fas fa-at"></i></strong>
        </div>
      </div>
      <div class="col-sm">
        <div class="find-widget" dir="rtl" >
        <strong> <i class="fas fa-phone"></i> משרד :</strong> <span style="color: rgb(53, 53, 56);"> 073-742-6102</span>
       </div>
      </div>
    </div>
    </footer>
    <br><br>
</div>




    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js" integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k" crossorigin="anonymous"></script>



    
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/js/contact.js"></script>
</body>
</html>