html,body
{
    height: 100%;
    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav
{
    background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p
{
    direction: rtl;
}




#cont 
{
    
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 4.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    
    background-color: azure;
}

#po
{
 font-size: 1.4rem  
}

.galaxy
{
    padding:15px;
    padding-bottom: 0.5px;
    padding-top: 0.5px;
    
}

.gap
{
 font-size: 25px;
}

.displayG
{
    font-size: 35px;
}